<!DOCTYPE HTML>
<html>

<head>
    <meta charset="UTF-8">
    <title>Tawa App</title>
    <style>
        body {
            padding: 0;
            margin: 0;
        }
    </style>
</head>

<body>

    <script>
        {{ .Script }}
    </script>

</body>

</html>